
<nav>
  <a routerLink="/apply" routerLinkActive="active">Apply Loan</a> |
  <a routerLink="/loans" routerLinkActive="active">View All Loans</a> |
  <a routerLink="/user-loans" routerLinkActive="active">View Loans By User</a> |
  <a routerLink="/loan-detail" routerLinkActive="active">View Loans By ID</a> |
  <a routerLink="/approve-loan" routerLinkActive="active">Approve Loan</a> |
  <a routerLink="/reject-loan" routerLinkActive="active">Reject Loan</a> |
  <a routerLink="/calculate-emi" routerLinkActive="active">Calculate EMI</a>
</nav>
<hr />
<router-outlet></router-outlet>